

@font-face {
   font-family: "noto-emoji";
   src: url(fonts/other/noto-emoji/noto-emoji.ttf) format("truetype");
   unicode-range: U+1F000-1FFFF, U+2600-26FF, U+2700-27FF;
}

@font-face {
   font-family: Papyrus;
   src: url(fonts/display/papyrus/papyrus.ttf) format("truetype");
}

@font-face {
   font-family: Verdana;
   src: url(fonts/text/verdana/verdana.ttf) format("truetype");
}


:root {
   --dark-green: hsl(80, 80%, 12%);
   --vivid-green: hsl(99.43, 70%, 30%);
   --link-green: hsl(99.43, 52.24%, 40.27%);
   --faded-green: hsl(96, 26%, 73%);
   --post-bg-green:  hsl(90, 13%, 80%);
   --light-green: hsl(90, 13%, 74%);
   --article-bg-green: hsl(90, 13%, 80%);


}

body {
   background-color: var(--light-green);
   font-family: "Verdana", "Helvetica", sans-serif;
   font-weight: Normal ;
   color: var(--dark-green);

}

a {
   color:var(--link-green);
   text-decoration: none;
}

b {
   color:var(--vivid-green);

}


#posts {
   max-width: 590px;
   margin: auto;
}

.post {
   background-color: var(--post-bg-green);
   margin-bottom: 60px;
   margin-top: 30px;
   padding: min(25px, 3vw);
}

.Title {
   display: inline;
   font-weight: Normal;
   margin-right: 1.3ch;
   margin-bottom: 0
}

.subtitle {
   margin-top: 0px;
   font-weight: Normal;
   text-align: right;
   margin-bottom: 0;
}

.Text {
   white-space: pre-wrap;
   margin-bottom: 10px;
   margin-bottom: 0.8lh;
   padding-left: min(5px, 1.5vw);
   padding-right: min(5px, 1vw);
}

.Title:empty~div.Text {
   margin-left: min(30px, 3.5vw);
   margin-right: min(15px, 2.5vw);
}

#banner {
   padding-top: 15px;
   padding-left: 10px;
}
