
@font-face {
   font-family: "noto-emoji";
   src: url(fonts/other/noto-emoji/noto-emoji.ttf) format("truetype");
   unicode-range: U+1F000-1FFFF, U+2600-26FF, U+2700-27FF;
}

@font-face {
   font-family: Papyrus;
   src: url(fonts/display/papyrus/papyrus.ttf) format("truetype");
}

@font-face {
   font-family: Verdana;
   src: url(fonts/text/verdana/verdana.ttf) format("truetype");
}
@font-face {
   font-family: Verdana-SB;
   src: url(fonts\text\verdana\verdana--semibold.ttf) format("truetype");
}


:root {
   --dark-pim:rgb(45, 24, 36);
   /*hsl(80, 80%, 12%);*/
   --vivid-pim:rgb(105, 56, 84);
   /*hsl(99.43, 70%, 30%);*/
   --link-pim: rgb(105, 56, 84);
   /*hsl(99.43, 52.24%, 40.27%);*/
   --faded-pim: hsl(96, 0%, 73%);
   /*--faded-pim: hsl(96, 26%, 73%);*/

   --light-grey:rgb(175, 175, 175);
   /*hsl(105, 13%, 74%);*/
   --article-bg-pim: rgb(190, 183, 187);
   --article-bg-grey: hsl(90, 0%, 80%);
   /*--editor-bg-green: hsl(90, 13%, 80%);*/


   /*hsl(100, 15%, 80%);*/
}

.Tags, .User, .date  {
        color: var(--vivid-pim);
}

body {
   background-color: var(--light-grey);
   font-family: "Verdana", "Helvetica", sans-serif;
   font-weight: Normal ;
   color: var(--dark-pim);
   line-height:145%

}

a {
   color:var(--link-pim);
   text-decoration: none;
}

b {
   color:var(--vivid-pim);
}

#posts {
    /*max-width: 50ch;*/
   margin: auto;
}

article {
    max-width: min(50ch, 95vw);
   background-color: var(--article-bg-pim);
   margin:auto;
   margin-bottom: 60px;
   margin-top: 30px;
   padding: 1ch;
}

.heading {
    font-size:125%;
    /*display: inline-block ;*/
    display:inline-block;
    /*float: left;zz*/
   font-weight: Normal;
   margin-right: 1.3ch;
   margin-left: 0.3ch;
   margin-top: 0px;

   margin-bottom: 0px;
   padding-top:0px;
   color:var(--vivid-pim)
   /*[]-top: 100px*/
}

.subheading {
    align-items: baseline-position;
   float: inline-end;
   /*text-align:right;*/
   /*display: flexbox ;*/
   margin-top: 0px;
   /*margin-bottom: 0px;*/
   font-size:90%;
   font-weight: Normal;
   margin-bottom: 0;
   font-family: verdana-sb;
}

.Content {
    width: 100%;
   white-space: pre-wrap;
   /*paddmaing-right: min(1.5ch, 30px);*/
   padding-left: min(0ch, 40px);

   margin-top: 20px;
   margin-bottom:20px;
   margin-left: 2%;

   max-width: 96%


   /*padding-left: min(20px, 2vw);
   padding-right: min(20px, 2vw);*/
}



h1 {
    font-family: Papyrus;
    padding-left: 40px;
    display: inline-block;
}

#status {
    float: inline-end;
}
#status iframe {
    height: 2.3rem;
    width: 7rem;
    border: 0px solid;
    display:inline;
    align-items: right;
    margin-top: 10px;
    margin-left: 15px;
}
