
@font-face {
   font-family: "noto-emoji";
   src: url(fonts/other/noto-emoji/noto-emoji.ttf) format("truetype");
   unicode-range: U+1F000-1FFFF, U+2600-26FF, U+2700-27FF;
}

@font-face {
   font-family: Papyrus;
   src: url(fonts/display/papyrus/papyrus.ttf) format("truetype");
}

@font-face {
   font-family: Verdana;
   src: url(fonts/text/verdana/verdana.ttf) format("truetype");
}
@font-face {
   font-family: Verdana-SB;
   src: url(fonts\text\verdana\verdana--semibold.ttf) format("truetype");
}


:root {
   --dark-green: hsl(80, 80%, 12%);
   --vivid-green: hsl(99.43, 70%, 30%);
   --link-green: hsl(99.43, 52.24%, 40.27%);
   --faded-green: hsl(96, 26%, 73%);
   --light-green: hsl(105, 13%, 74%);
   --article-bg-green: hsl(100, 15%, 80%);
}

body {
   background-color: var(--light-green);
   font-family: "Verdana", "Helvetica", sans-serif;
   font-weight: Normal ;
   color: var(--dark-green);

}

a {
   color:var(--link-green);
   text-decoration: none;
}

b {
   color:var(--vivid-green);
}

#posts {
   max-width: 66ch;
   margin: auto;
}

article {
   background-color: var(--article-bg-green);
   margin-bottom: 60px;
   margin-top: 30px;
   padding: min(25px, 3vw);
}

.heading {
    font-size:125%;
    display: inline ;
    /*float:inline;*/
    /*float: left;zz*/
   font-weight: Normal;
   margin-right: 1.3ch;
   /*margin-bottom: 0*/
}

.subheading {
    align-items: baseline-position;
   float: inline-end;
   /*display: flexbox ;*/
   margin-top: 0.1lh;
   /*margin-bottom: 0px;*/
   font-weight: Normal;
   margin-bottom: 0;
   font-family: verdana-sb;
}

.Content {
    width: 100%;
   white-space: pre-wrap;
   margin: 0.5lh;
   margin-top: 1.2rem


   /*padding-left: min(20px, 2vw);
   padding-right: min(20px, 2vw);*/
}



h1 {
    font-family: Papyrus;
   padding-top: 15px;
   padding-left: 10px;
}
